<launch>

 <!-- Load parameters from uav_params/race.yaml -->
 <rosparam command="load" file="$(find rotor_tm_config)/config/uav_params/race.yaml" />

 <node pkg="rotor_tm" type="rotorTM_CXX" name="rotorTM_in_CXX" output="screen">
    <remap from="reference/fm_cmd" to="/fm_cmd"/>  
    <remap from="outputs/odom" to="/odom"/>
    <!-- <param name="drone_mass" value="1" />
    <param name="drone_Ixx" value="0.01" />
    <param name="drone_Iyy" value="0.01" />
    <param name="drone_Izz" value="0.02" /> -->
 </node>

 </launch>
